@import 'ant-design-vue/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
  --primary-color: #476175 !important;
}

*{
  font-family: 'Roboto', cursive;
  font-weight: 400;
  font-size: .90rem;
}



